body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comment-form {
	width: 500px;
	height: 255px;
	padding: 10px;
	background-color: #7ae0ed;
  border-radius: 10px;
  margin-top: 75%;
}

.nameInput {
	width: 100%;
	height: 25px;
	border-radius: 7px;
	border: none;
	margin: 5px;
  font-size: .5em;
}

.commentInput {
	width: 100%;
	height: 50px;
	border-radius: 7px;
	border: none;
	margin: 5px;
  font-size: .5em;
}

.postComment {
	width: 30%;
	height: 50px;
	border-radius: 5px;
	background-color: yellow;
	font-family: helvetica;
  font-size: .4em;
}

.comment-footer-hide {
border-radius: 5px;
}

.comment-count {
    text-align: center;
    padding: 10px 0px;
}

/*---------------------  Header -------------------*/
.header {
  width: 100%;
  height: 70px;
  opacity: 0.98;
  margin: 0px;
  margin-bottom: 5px;
  display: flex;
  padding-left: 5px;
  position: fixed;
  top: 0px;
  color: #fff;
  background-color: #fff;
  font-family:Helvetica, sans-serif;
  overflow: auto;
  box-shadow: 1px 5px 5px black;
  z-index: 9999;
}

.header-right{
  height: 70px;
  margin-left: auto;
  margin-top: 5px;
  padding: 0 15px;
  text-align: center;
  width:500px;
  top: 0px;
}

.header-left {
  width:25%;
  margin: 0;
}

.header-left-right-container{
  width: 100%;
  display: flex;
}

/* Big Dodie Matthew in header */
.middle-section {
    height: 200px;
    background-color: #282c34;
    /* margin-top: 60px; */
    /* margin-bottom: 100px; */
    width: auto;
    padding-top: 85px;
    padding-bottom: 125px;

}
.mastHead{
    text-align: center;
    /* padding: 50px 100px 0px 100px; */
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    font-variant: small-caps;
    background: black;
    width: 350px;
    height: auto;
    margin: 20px auto 0px auto;
    border-radius: 25px;
}
.mastHead h1 {
  color: white;
  font-family: C;

}


.title {
  margin: 0;
  width: 269px;
  padding: 12.5px;
  height: 45px;
  font-family: AmericanTypewriter;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.navButton {
  height: 45px;
  width:auto;
  margin: 5px 10px;
  padding: 5px;
  box-shadow: none;
  font-family:sans-serif;
  display:inline-block;
  text-align: center;
}

/*-----------------------End of Header */
/* .middle-section {
  colour: #282c34;
  background-color: #282c34;
  height: auto;
  width: 100%;
  margin: 70px;
} */

.embed-responsive embed-responsive-16by9 {
  width: 75%;
  height: 50%;
}

.embed-responsive-item {
  background-color: black;
  border: none;
  width: 80%;
  padding-left: 20%;
}

#player {
  width: 75%;
  height: 50%;
}

/* main pic section */
.picSection {    
  padding: 50px 20px 20px 20px;
  background: #282c34;
  color: #282c34;
}

.picShuffle {
  box-shadow: 5px 5px 5px #000000;
  margin-left: 200px;
}

section h3 {
  float: right;
  color:white;
  font-weight: bold;
  z-index: auto;
  text-align: center;
  font-family: sans-serif;
}

.siteInfo h3{
  margin-bottom: 30px;
  /* font-family: sans-serif; */
}
.siteInfo {
  color: white;
  display: block;
  text-align: center;
  padding-top: 100px;
  width: 100%;
}


/*------------------------------------Footer */
footer {
  height: 500px;
}
.comment-box {
  height: 100px;
  width: 100%;
}